
<div class="row">
  <%= form_tag("/search", method: "get", class:"col s12") do %>
    <div class="input-field ">
      <i class="material-icons prefix">search</i>
      <input id="search_words" type="text" name="keywd" class="validate">
      <label for="search_words">Key Words</label>
    </div>
  <% end %>
</div>

<table class="striped z-depth-2">
  <thead>
    <tr>
      <th></th>
      <th>画像</th>
      <th>タイトル</th>
      <th>著者</th>
      <th>紙の本</th>
      <th>kindle</th>
    </tr>
  </thead>
  <tbody>
    <% @watch_lists.each do |wlist| %>
      <tr>
        <td><%= link_to "×", { :action => "destroy", :id => wlist.id }, method: :delete, data: { confirm: 'Are you sure?'} %></td>
        <td><%= image_tag(wlist.img) %></td>
        <td><%= wlist.title %></td>
        <td><%= wlist.author %></td>
        <td><%= wlist.publish_date %>
            <%= link_to wlist.pp_price, wlist.pp_link, target: "_blank" %> /
            <%= wlist.pp_point %>
        </td>
        <td><%= wlist.kd_published_date %>
            <%= link_to wlist.kd_price, wlist.kd_link, target: "_blank" %> /
            <%= wlist.kd_point %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>
