
<div class="row">
  <%= form_tag("/search", method: "get", class:"col s12") do %>
    <div class="input-field ">
      <i class="material-icons prefix">search</i>
      <input id="search_words" type="text" name="keywd" class="validate">
      <label for="search_words">Key Words</label>
    </div>
  <% end %>
</div>


<table class="z-depth-2">
  <thead>
    <tr class="table-header">
      <th></th>
      <th></th>
      <th>書籍</th>
      <th>紙</th>
      <th>kindle</th>
    </tr>
  </thead>
  <tbody>
    <% @watch_lists2.each do |wlist| %>
      <tr>
        <td rowspan="2"><%= link_to "×", { :action => "destroy", :id => wlist["list"].id }, method: :delete, data: { confirm: 'Are you sure?'} %></td>
        <td rowspan="2"><%= image_tag(wlist["list"].img) %></td>
        <td><div><span class="label">タイトル:</span><span class="title"><%= wlist["list"].title %></span></div>
             <div><span class="label">著者:</span><%= wlist["list"].author %></td></div>
        <td><div><span class="label">発売:</span><%= wlist["list"].publish_date ? wlist["list"].publish_date : "-" %></div>
            <div><span class="label">価格:</span><%= link_to wlist["list"].pp_price, wlist["list"].pp_link, target: "_blank" %></div>
            <div><span class="label">ポイント:</span><%= wlist["list"].pp_point %></div>
        </td>
        <td><div><span class="label">発売:</span><%= wlist["list"].kd_published_date ? wlist["list"].kd_published_date : "-" %></div>
            <div><span class="label">価格:</span><%= link_to wlist["list"].kd_price, wlist["list"].kd_link, target: "_blank" %></div>
            <div><span class="label">ポイント:</span><%= wlist["list"].kd_point %></div>
        </td>
      </tr>
      <tr>
        <td colspan="3"><%= line_chart wlist["data"], wlist["options"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
