<h1>WatchLists#index</h1>

<%= form_tag("/search", method: "get") do %>
    検索ワード
    <%= text_field_tag :keywd, '', size:30 %>
    <%= submit_tag '検索' %>

<% end %>


<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>著者</th>
      <th>出版日</th>
      <th>紙の値段</th>
      <th>紙のポイント</th>
      <th>kindleの値段</th>
      <th>kindleの出版日</th>
      <th>kindleのポイント</th>
    </tr>
  </thead>
  <tbody>
    <% @watch_lists.each do |wlist| %>
      <tr>
        <td><%= wlist.title %></td>
        <td><%= wlist.author %></td>
        <td><%= wlist.publish_date %></td>
        <td><%= wlist.pp_price %></td>
        <td><%= wlist.pp_point %></td>
        <td><%= wlist.kd_price %></td>
        <td><%= wlist.kd_published_date %></td>
        <td><%= wlist.kd_point %></td>
      </tr>

    <% end %>
  </tbody>
</table>
