<h1>WatchLists#search</h1>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
    </tr>
  </thead>
  <tbody>
    <% @searched_books.each do |book| %>
      <tr class="aaaa">
        <td><%= image_tag(book[:img]) %></td>
        <td><%= book[:title] %></td>
        <td>
          <%= form_tag({controller: :watch_lists, action: :add}, class: :add) do %>
              <%= submit_tag '追加' %>
              <%= hidden_field_tag :link , book[:link] %>
              <%= hidden_field_tag :img , book[:img] %>

          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
