<h1>検索結果</h1>

<div class="row">
  <% @searched_books.each do |book| %>
    <div class="card horizontal col s12 l6" style="height: 200px;">
      <div class="card-image">
        <%= image_tag(book[:img]) %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><%= book[:title] %></p>
        </div>
        <div class="card-action">
          <%= form_tag({controller: :watch_lists, action: :add}, class: :add) do %>
              <button class="btn-floating btn-large waves-effect waves-light red" type="submit" name="action">
              <i class="material-icons">add</i>
            </button>
            <%= hidden_field_tag :link , book[:link] %>
            <%= hidden_field_tag :img , book[:img] %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>