<div class="row">
  <%= form_tag("/search", method: "get", class:"col s12") do %>
    <div class="input-field ">
      <i class="material-icons prefix active">search</i>
      <input id="search_words" type="text" name="keywd" value="<%= @keywords %>" class="validate">
      <label for="search_words" class="active">Key Words</label>
    </div>
  <% end %>
</div>



<div class="row">
  <% @searched_books.each do |book| %>
    <div class="card horizontal col s12 l6" style="height: 200px;">
      <div class="card-image">
        <%= image_tag(book[:img]) %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><%= book[:title] %></p>
        </div>
        <div class="card-action right-align">
          <%= form_tag({controller: :watch_lists, action: :add}, class: :add) do %>
              <button class="btn-floating btn waves-effect waves-light red lighten-2 " type="submit" name="action">
              <i class="material-icons">add</i>
            </button>
            <%= hidden_field_tag :link , book[:link] %>
            <%= hidden_field_tag :img , book[:img] %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>