<!DOCTYPE html>
<html>
  <head>
    <title>Blonde</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      </ul>
      <nav>
        <div class="nav-wrapper">

          <%= image_tag "piggybank.png", id:"piggy1" %>
          <ul class="right hide-on-med-and-down">
            <% if user_signed_in? %>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= current_user.email %><i class="material-icons right">arrow_drop_down</i></a></li>
            <% else %>
              <li><%= link_to 'サインアップ', new_user_registration_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
            <% end %>
          </ul>
            </div>
      </nav>
    </header>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
